# VS Code Settings
.vscode/

# JetBrains IDEA
.idea

# Build
build/**
sdkconfig
sdkconfig.old
dependencies.lock
**/build/

# Generated security codes
copy_protection/*.bin

# Release
release/

# Dependencies
managed_components/

.clang-format
.clang-tidy

# Coverage reports
**/covr_report/
