# VS Code Settings
.vscode/

# JetBrains IDEA
.idea

# Build
build/**
sdkconfig
sdkconfig.old
dependencies.lock
**/build/

# Generated security codes
copy_protection/*.bin

# Generated random data
copy_protection/swap_tables.txt
copy_protection/dummy_data.txt

# Keys
copy_protection/keys.txt

# Release
release/
release_internal/

# Dependencies
managed_components/

.clang-format
.clang-tidy

# Coverage reports
**/covr_report/
