# VS Code Settings
.vscode/

# Build
build/**
release/
sdkconfig
sdkconfig.old
dependencies.lock
**/build/

# Release
release/

# Dependencies
managed_components/

.clang-format
.clang-tidy

# Coverage reports
**/covr_report/
