:root {
  --primary-color: #5cb400;
  --primary-color-hover: #68ca00;
  --danger-color: #f0001c;
  --danger-color-hover: #ff0000;
  --link-color: #00b7f4;
  --border-color: #ced4da;
  --border-radius: 6px;
  --text-color: #334155;
  --sidebar-background: #eee;
  --sidebar-background-mobile: #d8d8d8;
  --sidebar-width: 230px;
  --gray-color: #e2e5e8;
  --gray-text: #bdbdbd;
  --gray-color-hover: #eee;
  --input-focus-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(92, 179, 0, 0.5);
}

* {
  outline-width: 0;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

h1 {
  font-size: 32px;
  margin: 0;
}

fieldset {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin-bottom: 12px;
  padding: 12px;
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

legend {
  font-weight: 700;
  white-space: nowrap;
}

input,
input[type="text"],
input[type="number"],
input[type="password"],
select {
  box-sizing: border-box;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 1rem;
  color: var(--text-color);
  padding: 5px 12px;
  border: 1px solid var(--border-color);
  outline-color: transparent;
  border-radius: 6px;
  box-shadow: 0 0 #0000,0 0 #0000,0 1px 2px 0 rgba(18,18,23,0.05);
}

input {
  width: 100%;
}

input:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  z-index: 10;
  box-shadow: var(--input-focus-shadow);
}

input:disabled {
  background: var(--gray-color-hover);
}

input[type="file"] {
  all: unset;
}

input:not(.ipInput):invalid {
  border-color: var(--danger-color);
}

select {
  padding: 5px 30px 5px 10px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("@/assets/chevron.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

button {
  background: var(--primary-color);
  border: var(--primary-color);
  padding: 6px 16px;
  white-space: nowrap;
  color: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
}

button:disabled {
  opacity: 0.6;
  cursor: unset;
}

button:hover:not(:disabled) {
  background: var(--primary-color-hover);
  border: var(--primary-color-hover);
}

button:focus {
  z-index: 10;
  box-shadow: var(--input-focus-shadow);
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  padding: 6px 12px;
  border: 1px solid var(--border-color);
}

table th {
  background: var(--sidebar-background);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multiselect {
  min-height: inherit !important;
}

.multiselect__tags {
  min-height: 20px !important;
  padding-top: 5px !important;
  border-color: var(--border-color) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
}

.multiselect__single {
  padding-left: 2px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.multiselect__option {
  min-height: initial !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.multiselect__option:focus,
.multiselect__option:hover,
.multiselect__option--highlight {
  background: var(--primary-color-hover) !important;
}

.multiselect__option--selected {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.multiselect__content-wrapper {
  overflow-x: hidden !important;
}

.multiselect__content {
  width: inherit !important;
  overflow: hidden !important;
}

.multiselect__select::before {
  top: 70% !important;
}

.multiselect__spinner {
  width: 20px !important;
  height: 20px !important;
  right: 8px !important;
  top: 4px !important;
}

.multiselect__spinner::before {
  border-color: var(--primary-color) var(--primary-color) transparent !important;
}

.multiselect__spinner::after {
  display: none !important;
}

.multiselect__select {
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  right: 10px !important;
  top: 6px !important;
  transform-origin: center !important;
}

.multiselect__select::before {
  margin-top: 0 !important;
  content: "∟" !important;
  transform: rotate(315deg) !important;
  color: black !important;
  font-weight: 100 !important;
  top: 0 !important;
  right: 0 !important;
  border: 0 !important;
  display: inline-block !important;
  transform-origin: center !important;
}

.multiselect--active .multiselect__select {
  transform: none !important;
}

